@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
   
    padding:0 ;
    font-family: "Roboto", sans-serif; ;

 }
 body{
   
    margin: 0;
 }

 .p-image{
     background-color: rgba(1, 1, 88, 0.178);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left:10% ;
    padding-right:10% ;
    align-items: center;
  
    
 }
 .image{
    width: 30px;
    align-items: center;
 }
 p{
    width: 80%;
    color: whitesmoke;
    
 }
 .speak{
     background-color: rgba(0, 0, 0, 0);
     margin-top:5rem ;
     padding-left:10% ;
     padding-right:10% ;
     height: 50px;
     
}
.flutter{
    width: 10rem;
    
    height: 70px;
}

.links{
    padding-top: 18px;
}
a {
    text-decoration: none;
    padding: 10px;
    color: blue;
    cursor: all-scroll;
    
}
a:visited{
    color: blue;
}
 button{
    width: 10rem;
    border-radius: 10px;
    border: none;
    color:black ;
    background-color: rgb(230, 225, 219);
 }